[user]
  email = bjaskulski@protonmail.com
  name = Bart Jaskulski
	signingkey = /home/bjaskulski/.ssh/id_rsa.pub
[core]
  excludesFile = ~/.gitignore
  autocrlf = input
  pager = delta
  untrackedCache = true
  fsmonitor = true
[interactive]
  diffFilter = delta --color-only --features=interactive
[commit]
	gpgsign = true
  # template = ~/.gitmessage
  verbose = true
[diff]
  algorithm = histogram
  colorMoved = default
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold # line info
  old = red # deletions
  new = green # additions
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
  ff = false
  conflictstyle = zdiff3
[help]
  autocorrect = 1
[init]
  defaultBranch = main
  # templatedir = ~/.git_template
[includeIf "gitdir:~/Repos/WPDesk/"]
  path = ~/Repos/WPDesk/.gitconfig
[push]
  autoSetupRemote = true
[pull]
  rebase = true
[tag]
  sort = version:refname
[alias]
  a = add
  ap = add --patch
  all = add --all
  df = diff
  dfc = diff --cached
  c = commit
  cn = commit --no-verify
  l = log --oneline
  l1 = log -1 --oneline
  ll = log --oneline --all
  s = status
  ss = status --short --branch
  p = push
  pl = pull
  st = stash push
  sw = switch
  b = branch -v

  lasttag = describe --abbrev=0 --tags
  # Output all the changes since the most recent tag as a Markdown list:
  # git changelog
  # git changelog HEAD~5...
  changelog = "!_() { \
    range=${1:-$(git lasttag)...HEAD}; \
    printf '\nChanges since %s\n\n' $range; \
    git --no-pager log --reverse --no-merges --oneline \
    --pretty=format:'- %s' \
    $range; \
    printf '\n'; \
    };_"
# [blame]
# 	ignoreRevsFile = .git-blame-ignore-revs
[delta]
  navigate = true
  light = true
  line-numbers = true
[branch]
	sort = -committerdate
[gpg]
	format = ssh
