.idea
node_modules
# vendor
*.phar
*.zip
.phpunit.result.cache
tags
.phpactor.json
Session.vim
.phpstorm.meta.php
.aider*
.ddev
wp-config-ddev.php

HEAD
ORIG_HEAD
commondir
gitdir
index
index.lock
AUTO_MERGE
COMMIT_EDITMSG
FETCH_HEAD

repomix-output.xml
.pnpm-store
openspec
